@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

// RESET 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// COMMON
body {
    font-family: 'Roboto', sans-serif;
    min-width: 992px;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.small-container {
    width: 65%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}