// Main light color
$mainColor: #0282f9;

// Main dark color
$secondColor: #1c1c1c;

// Main Font Color
$mainFontColor: white;

// Footer Font Color
$footerFontColor: #959595;

// Footer background color
$footerBgColor: #303030;